<div>
    <div class="row">
        <div class="col-lg-2  d-flex flex-column p-5" style="height: 720px; background-color:  #001f3f;">
            <a href="" class="mb-3" style="text-decoration: none; color: blue; font-size: 22px;"><i class="fa-solid fa-house me-2"></i>Home</a>
            <a  routerLink="/employees" style="text-decoration: none; color: white;font-size: 22px;"><i class="fa-solid fa-user me-2"></i>Users</a>


        </div>
        <div class="col-lg-9 p-5">
            <h1>Welcome Admin</h1>

        </div>
    </div>
</div>
