<div>
       <div class="row">
    <div class="col-lg-2  d-flex flex-column p-5" style="height: 720px; background-color:  #001f3f;">
        <a routerLink="/dashboard" class="mb-3" style="text-decoration: none; color: white; font-size: 22px;"><i class="fa-solid fa-house me-2"></i>Home</a>
        <a  routerLink="/employees" style="text-decoration: none; color: blue;font-size: 22px;"><i class="fa-solid fa-user me-2"></i>Users</a>
    </div>
   <div class="col-lg-10">

    <h2 class="text-center mt-5"><i class="fa-solid fa-user-plus me-2"></i>Add Employee</h2>

   <div class="row mt-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 border shadow p-5 ">
            <Form>
                <input type="text" class="form-control mb-2" placeholder="userId">
                <input type="text" class="form-control mb-2" placeholder="username">
                <input type="text" class="form-control mb-2" placeholder="Email">
               
              
                <div class="dropdown">
                    <a class="btn btn-light border dropdown-toggle w-100 " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="padding-left: 470px;">
                     Status
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Active</a></li>
                      <li><a class="dropdown-item" href="#">Inactive</a></li>
                    </ul>
                  </div>   
                  
                 <div>
                    <button class="btn btn-danger mt-5 me-4">cancel </button>
                    <button class="btn btn-success mt-5">ADD </button>
                </div>
            </Form>
        </div>
        <div class="col-lg-3"></div>
   </div>

   </div>
   
   </div>
</div>